@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*all elements background color will be red. You can change it specifying below this global selector (105 line, e.g.)*/
*::selection {
    background-color: red;
}

html {
    scroll-behavior: smooth;
}

/*Hide scroll bar*/
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}



header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    z-index: 1000;
    background-color: #111;
    transition: all 0.6s;
}

header.sticky {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
}
.logo img {
    width: 150px;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

header nav ul {
    display: flex;
    gap: 65px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.35s ease;
}

header nav ul li a:hover {
    color: red;
}

/*Main*/

main {
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.986);
    padding-left: 120px;
    padding-top: 235px;
}

main h1 {
    text-transform: uppercase;
    font-size: 65px;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.75em;
}

main h1 span#title {
    color: red;
    font-size: 150px;
    margin: -6px;
    padding: 0;
}

main h1 span#title::selection {
    background-color: white;
}


main .content {
    text-align: justify;
    width: 550px;
}

main .content p {
    color: white;
}

main .btn {
    position: relative;
    opacity: 1;
    z-index: 10;
    box-sizing: content-box;
    display: inline-block;
    width: 200px;
    background: red;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    margin-top: 120px;
    transition: all 0.3s;
    cursor: pointer;
}
main .btn::before{
    content: "";
    position: absolute;
    background-color: rgb(173, 6, 6);
    opacity: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -5;
    transition: all 0.3s ease-out;
}


main .btn:hover {
    transform: translate(0px, -8px);
}

main .btn:hover::before {
    opacity: 0.3;
    transform: translate(0px, 8px);
    border-bottom: 1px solid white;
}

main .btn a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

main .circle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(800px at bottom right);
}



#img1 {
    position: absolute;
    right: 580px;
    bottom: 0px;
    width: 180px;
    transform: rotate(-10deg);
}

#img2 {
    position: absolute;
    right: 375px;
    bottom: 0px;
    width: 180px;
    z-index: 1;
    transform: rotate(-2deg);
}

#img3 {
    position: absolute;
    z-index: 5;
    right: 190px;
    bottom: 0px;
    width: 180px;
    transform: rotate(6deg);
}

.imageFour {
    position: absolute;
    right: 21px;
    bottom: 0px;
    width: 180px;
    transform: rotate(-5deg);
}

main .social-media {
    display: flex;
    z-index: 101;
    margin-top: 130px;
    gap: 20px;
}

main .instagram, .twitter, .facebook {
    display: flex;
    z-index: 101;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.35s ease;
}

main .instagram:hover, .twitter:hover, .facebook:hover {
    background-color: transparent;
}

.divider {
    display: inline-block;
    width: 100vw;
    height: 2px;
}

body #main-divider {
    position: absolute;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(17, 17, 17, 0.986));
}

/*Products*/

section#products {
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.986);
}


body #products-divider {
    position: absolute;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(17, 17, 17, 0.986));
}